@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

.app-container {
  .react-ant-card{
    width: 40%;
    margin: 0 auto;
  }
}
